<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.backend.mapper.BookMapper">
    <!--  获取图书列表  -->
    <select id="getAllBooks" resultType="org.example.backend.dto.response.book.BookListResponse">
        SELECT
            b.id,
            b.title,
            b.author,
            b.publisher,
            b.publish_year AS publishYear,
            b.isbn,
            b.category_id AS categoryId,
            c.name AS categoryName,
            b.language,
            b.total_copies AS totalCopies,
            b.available_copies AS availableCopies,
            b.view_count AS viewCount,
            b.borrow_count AS borrowCount,
            b.create_time AS createTime,
            b.update_time AS updateTime,
            b.status AS status
        FROM book b
                 LEFT JOIN category c ON b.category_id = c.id
    </select>

    <!-- 获取分页后的图书列表 -->
    <select id="getBooksWithPagination" resultType="org.example.backend.dto.response.book.BookListResponse">
        SELECT
            b.id,
            b.title,
            b.author,
            b.publisher,
            b.publish_year AS publishYear,
            b.isbn,
            b.category_id AS categoryId,
            c.name AS categoryName,
            b.language,
            b.total_copies AS totalCopies,
            b.available_copies AS availableCopies,
            b.view_count AS viewCount,
            b.borrow_count AS borrowCount,
            b.create_time AS createTime,
            b.update_time AS updateTime,
            b.status AS status
        FROM book b
                 LEFT JOIN category c ON b.category_id = c.id
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!--  编辑图书  -->
    <update id="editBook" parameterType="org.example.backend.dto.request.book.EditBookRequest">
        UPDATE  `book`
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="author != null and author != ''">
                author = #{author},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="isbn != null and isbn != ''">
                isbn = #{isbn},
            </if>
            <if test="totalCopies != null">
                total_copies = #{totalCopies},
            </if>
            <if test="availableCopies != null">
                available_copies = #{availableCopies},
            </if>
            <if test="publisher != null and publisher != ''">
                publisher = #{publisher},
            </if>
            <if test="publishYear != null">
                publish_year = #{publishYear},
            </if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>
    <!--  更新可获取图书数量  -->
    <update id="updateAvailableCopies">
        UPDATE book
        SET available_copies = available_copies + #{num}
        WHERE id = #{id} AND available_copies + #{num} >= 0
    </update>
    <!--  新增图书  -->
    <insert id="addBook" parameterType="org.example.backend.dto.request.book.AddBookRequest">
        INSERT INTO `book`
        (title, author, category_id, isbn, total_copies, available_copies, publisher, publish_year, status, view_count, borrow_count, create_time, update_time)
        VALUES
        (#{title}, #{author}, #{categoryId}, #{isbn}, #{totalCopies}, #{availableCopies}, #{publisher}, #{publishYear}, 1, 0, 0, NOW(), NOW())
    </insert>

    <select id="countCategoryPreference" resultType="map">
        SELECT category_id, COUNT(*) AS cnt
        FROM book
        WHERE id IN
        <foreach collection="bookIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        GROUP BY category_id
    </select>

    <select id="countAuthorPreference" resultType="map">
        SELECT author, COUNT(*) AS cnt
        FROM book
        WHERE id IN
        <foreach collection="bookIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        GROUP BY author
    </select>
</mapper>